<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>
        <link  rel="icon" href="/img/weather_icon.png"/>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <div class="main-content">
    {{>nav}}
    <p>{{errorMessage}}</p>
    </div>

    {{>footer}}
  </body>
</html>