<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
        <link  rel="icon" href="/img/weather_icon.png"/>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>

  <body>
    {{>header}}
    {{>nav}}
    <div class="main-content">
      <p>{{aboutText}}</p>
      <p>The website uses data from mapbox.com and weatherstack.com.</p>
    </div>
      {{>footer}}
  </body>
</html>