<!DOCTYPE html>

<html>
  <head>
    <title>Weather</title>
    <link  rel="icon" href="/img/weather_icon.png"/>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    {{>header}}
    {{>nav}}
    <div class="weather-panel-container">
      <div class="weather-panel">
        <div class="weather-panel-text">
          <p>Enter your location to get started.</p>
          <form>
            <input placeholder="Enter your location">
            <button>Search</button>
          </form>
          
          <div id="weather-panel-data">
          {{!-- <p id="message-1"></p> --}}
          <p id="message-2"></p>

          <table>
            <tr>
              <td>Temperature</td>
              <td class="table-column-right" id="temperature"></td>
            </tr>
            <tr>
              <td>Feels Like</td>
              <td class="table-column-right" id="feels-like"></td>
            </tr>
            <tr>
              <td>Wind</td>
              <td class="table-column-right" id="wind-speed"></td>
            </tr>
            <tr>
              <td>Rain</td>
              <td class="table-column-right" id="rain"></td>
            </tr>

            <tr>
              <td>Wind Direction</td>
              <td class="table-column-right" id="wind-dir"></td>
            </tr>
            <tr>
              <td>Pressure</td>
              <td class="table-column-right" id="pressure"></td>
            </tr>
            <tr>
              <td>Cloud Cover</td>
              <td class="table-column-right" id="cloud-cover"></td>
            </tr>
            <tr>
              <td>UV Index</td>
              <td class="table-column-right" id="uv-index"></td>
            </tr>
          </table>
          </div>

        </div>
      </div>
    </div>

    <div class="weather-title-container">
      <div class="weather-title">
          <p id="location-temp"></p>
          <h1 id="location-title">{{title}}</h1>
      </div>

      <div class="weather-page-footer">
        {{>footer}}
      </div>
    </div>
    <script src='./js/app.js'></script>
  </body>
</html>