body {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-image: url("../img/bg-mountains-2.jpg");
    background-color: #fff;
    background-size: cover;
}

.main-content {
    top: 118px;
    bottom: 112px;
    margin: 0 48px;
    position: absolute;
    overflow-y: scroll;
    color: red;
}


h1#header-app-name {
    color: black;
    color: hsla(224, 95%, 8%, .8);
    font-size: 22px;
    z-index: 1;
    display: inline-block;
    position: absolute;
    padding: 48px;
    margin: 0;
}

div.weather-title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 10;
    width: calc(100% - 512px);
    min-height: 100vh;
}

p#location-temp {
    color: hsla(0, 0%, 100%, .9);
    font-size: 120px;
    font-weight: 500;
    line-height: 120px;
    vertical-align: bottom;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    padding-right: 12px;
}

h1#location-title {
    color: hsla(0, 0%, 100%, .9);
    font-size: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

div.weather-title {
    color: hsla(0, 0%, 100%, .9);
    line-height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: calc(100% - 96px);
    margin: 112px 48px;
}

.nav-links {
    padding: 0 48px;
    display: inline-block;
    position: absolute;
    top: 88px;
    font-size: 14px;
    z-index: 99;
}

.nav-links a {
    color: #7F8599;
    margin-right: 16px;
    text-decoration: none;
}

.website-footer {
    color: #7F8599;
    /* border-top: 1px solid #7F8599; */
    width: calc(100% - 96px);
    margin: 48px;

    position: absolute;
    bottom: 0;
}

.website-footer p {
    margin: 0;
}

.weather-panel {
    overflow: auto;
    flex-grow: 1;
    background-color: hsla(224, 95%, 8%, 0.73);
    float: right;
    width: 512px;
    height: 100vh;
    z-index: 1;

    background: hsla(224, 95%, 8%, 0.5);
    backdrop-filter: saturate(135%) blur(10px);
}

.weather-panel-text {
    color: hsla(0, 0%, 100%, .5);
    font-size: 18px;
    padding: 48px 48px 0;
}

input {
    border: 2px solid white;
    background-color: white;
    padding: 12px;
    width: 280px;
}

::placeholder {
    color: #7F8599;
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
    cursor: pointer;
    border: 2px solid #9F9EB5;
    background-color: #9F9EB5;
    color: white;
    padding: 12px;
    width: 96px;
}

.weather-panel-text p {
    margin: 0 0 36px;
}

img {
    width: 400px;
}


p#message-1 {
    padding-top: 40px;
}

p#message-2 {
    padding: 36px 0;
    font-style: italic;
    border-bottom: 1px solid #eee;
    margin: 0;
}

table {
    width: 100%;
    padding: 24px 0 40px;
    font-weight: 400;
}

td {
    padding: 16px 0;
}

td.table-column-right {
    color: hsla(0, 0%, 100%, .75);
    text-align: right;
    font-weight: 600;
}

#weather-panel-data {
    display: none;
}

p#location-temp {
    display: none;
}